{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-success text-center">Change your password</h1>
<div class="card bg-dark text-white">
    <img src="{% static 'images/deliver.jpg' %}" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title text-center">Change Password</h5>
        <form action="" method="post">
            <div class="card-text">
            {% csrf_token %}
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-md-2 offset-md-2 form-label">Old Password:</label>
                    <div class="col-md-5">
                        <input name="old_password" type="password" class="form-control" id="inputPassword" placeholder="Old Password" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputPassword1" class="col-md-2 offset-md-2 col-form-label">Password:</label>
                    <div class="col-md-5">
                        <input name="new_password1" type="password" class="form-control" id="inputPassword1" placeholder="New Password" required>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputPassword2" class="col-md-2 offset-md-2 col-form-label">Password:</label>
                    <div class="col-md-5">
                        <input name="new_password2" type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password" required>
                    </div>
                </div>

                {% for field in form %}
                <p>
                    {% for error in field.errors %}
                        <p class="bg-warning fw-bold text-center text-danger rounded">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="text-danger">
                    <p class="bg-warning text-center fw-bold rounded">{{ form.non_field_errors }}</p>
                </div>
                {% endif %}

                <div class="mt-5 row">
                    <input type="submit" class="btn btn-success col-md-2 offset-md-5" value="Update Password">
                </div>

            <!--      <div class="mb-3">-->
            <!--        <label for="formFile" class="form-label">Default file input example</label>-->
            <!--        <input class="form-control" type="file" id="formFile">-->
            <!--      </div>-->
            </div>
        </form>

        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>
{% endblock %}

{% block style %}
    img.card-img {
        opacity: 0.5;
    }
{% endblock %}