{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-success text-center">Reset your password</h1>
<div class="card bg-dark text-white">
    <img src="{% static 'images/deliver.jpg' %}" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title text-center">Reset Password</h5>
        <form action="" method="post">
            <div class="card-text">
            {% csrf_token %}
                <div class="mb-3 row">
                    <div class="col-md-5">
                        <input name="email" type="email" class="form-control" id="id_email" placeholder="Email Address" required>
                    </div>
                </div>

                <div class="mt-5 row">
                    <input type="submit" class="btn btn-success col-md-2 offset-md-5" value="Send Reset Email">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block style %}
    img.card-img {
        opacity: 0.5;
    }
{% endblock %}