{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-success text-center">User Profile</h1>
<div class="card bg-dark text-white">
    <img src="{% static 'images/deliver.jpg' %}" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h2 class="card-title text-center rounded text-primary">@{{ user.username }}</h2>
        <img src="{{ user.profile_image.url }}" class="d-block mx-auto rounded" width="300" height="auto" alt="user profile picture">
        <div class="card-text">
			<h3>Hey there {{ user.username }}!! Glad to see you on your profile page</h3>
			<p class="card-text">First name: {{ user.first_name }}</p>
			<p class="card-text">Last name: {{ user.last_name }}</p>
			<p class="card-text">Phone number: +234{{ user.phone_number }}</p>
			<p class="card-text">Category: {{ user.category }}</p>
			<p class="card-text">Email: {{ user.email }}</p>
			{% if user.category == 'Restaurant Manager' %}
			<p class="card-text">Restaurant Name: {{ restaurant.name }}</p>
			<p class="card-text">Restaurant Address: {{ restaurant.address }}</p>
			<button class="btn btn-primary">Edit Profile</button>
			{% endif %}
			<button class="btn btn-primary">Edit Profile</button>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			<p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
  img.card-img {
    opacity: 0.5;
  }
{% endblock %}